// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2980B9;
$blue2: #3B8DBC;
$indigo: #6574cd;
$purple: #8E44AD;
$pink: #f66d9b;
$red: #C0392B;
$orange: #F39C12;
$yellow: #ffed4a;
$green: #27AE60;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$grey-light: #F4F4F4;
$grey-light-2: #808080;

$dark: #222D32;
$dark2: #1E282C;
