// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0d36ff;
$indigo: #6574cd;
$purple: #A260B8;
$pink: #f66d9b;
$red: #F50057;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #43A047;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$dark: #303030;
$dark2: #404040;
$white: #FFFFFF;
