// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

 /* Page Project show Cards */
.project-container {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    overflow: auto;
    padding: 1rem 2rem 3rem 2rem;
}

.page-title {
    display: flex;
    flex-direction: row;
    padding-left: 4rem !important;
}

.btn-add-card {
    background-color: $orange !important;
    color: $dark !important;
    height: 40px;
    width: 60px;
    border-radius: 50px !important;
    padding: 0;
    margin: 0 0 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


    /* Card */
.card-container {
    min-width: 19rem !important;
    background-color: $white;
    margin: 0rem 1rem;
    display: table;

    .card-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        padding: 0;
        margin: 0;
        position: relative;

        .card-form-delete {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;

            .fa {
                color: $white
            }
        }
    }

    .card-title {
        color: $white;
        font-size: 1.3rem !important;
        font-weight: 500 !important;
    }

    .card-body {
        padding: 0.5rem 0;
    }

    .box-add-task {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-title {
        font-size: 1.2rem;
        margin: 0 1rem 0 0;
    }

    .btn-box-tool {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

    /* Tasks */

.tasks-container {

    padding: 0;

    .task-container {
        list-style-type: none !important;
        background-color: $white;
        margin: 0.7rem 0.5rem;
        padding: 0;
        border-radius: 3px !important;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        background-color: #FAFAFA;
        border-left: 3px solid $green;
    }

    .task-header {
        padding: 0.6rem 1rem;
        border-bottom: 1px solid $grey-light;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .btn-box-tool {
            padding: 0;

            .fa {
                color: #C0C0C0;
            }
        }
    }

    .task-footer {
        padding: 0.6rem 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    p {
        padding: 0;
        margin: 0
    }
}
